/*plantilla en general*/

body.nav-md ul.nav.child_menu li:before {
    background: #33b6a4;
}

body.nav-md ul.nav.child_menu li:after {
    border-left: 1px solid #33b6a4;
}

.left_col {
    background: #eb6a00;
}

.nav-sm ul.nav.child_menu {
    background: #eb6a00;
}

body {
    color: #33b6a5;
    background: #eb6a00;

}

.nav_title {

    /*background: #33b6a5 */
    color: #ecf0f1;
    text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5b6479), color-stop(100%, #4c5566)), #686e78;
    background: -webkit-linear-gradient(#33b6a4, #339583), #33806e;
    background: -moz-linear-gradient(#33b6a4, #339583), #33806e;
    background: -o-linear-gradient(#33b6a4, #339583), #33806e;
    background: linear-gradient(#33b6a4, #339583), #33806e;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
}

.active a span.fa {
    color: #eb6a00;
}

.nav.side-menu> li.active > a {
    color: #0efff0;
    text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5b6479), color-stop(100%, #4c5566)), #686e78;
    background: -webkit-linear-gradient(#33b6a4, #339583), #33806e;
    background: -moz-linear-gradient(#33b6a4, #339583), #33806e;
    background: -o-linear-gradient(#33b6a4, #339583), #33806e;
    background: linear-gradient(#33b6a4, #339583), #33806e;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
}

.btn-seller {
    color: #0efff0;
    text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5b6479), color-stop(100%, #4c5566)), #686e78;
    background: -webkit-linear-gradient(#ff6b00, #eb6a00), #e06800;
    background: -moz-linear-gradient(#ff6b00, #eb6a00), #e06800;
    background: -o-linear-gradient(#ff6b00, #eb6a00), #e06800;
    background: linear-gradient(#ff6b00, #eb6a00), #e06800;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
}

.nav.side-menu>li.active, .nav.side-menu>li.current-page {
    border-right: 5px solid #0efff0;
}

.nav li li.current-page a, .nav.child_menu li li a.active, .nav.child_menu li li a:hover{
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5b6479), color-stop(100%, #4c5566)), #686e78;
    background: -webkit-linear-gradient(#33b6a4, #339583), #33806e;
    background: -moz-linear-gradient(#33b6a4, #339583), #33806e;
    background: -o-linear-gradient(#33b6a4, #339583), #33806e;
    background: linear-gradient(#33b6a4, #339583), #33806e;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
}

.profile {
    padding-bottom: 30% !important;
}

/*plantilla en general termina*/
/*pagos checkout planes*/

.pricing_features {
    background: #ecf0f1;
    padding: 20px 15px;
    min-height: 100%;
    font-size: 13.5px;
}



.invoice .row #plazosR .pricing:hover .x_content .pricing_features {
    background: #32a997;
    color: #ecf0f1;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,.5);
    -webkit-transition: background-color 0.2s,box-shadow 0.2s;
    -moz-transition: background-color 0.2s,box-shadow 0.2s;
    -o-transition: background-color 0.2s,box-shadow 0.2s;
    transition: background-color 0.2s,box-shadow 0.2s;
}

.invoice .row #plazosR .pricing:hover .x_content .pricing_footer {
    background: #32a997;
    color: #ecf0f1;
    /*border: solid;*/
    /*border-color: #eb6a00;*/
    -webkit-transition: background-color 0.2s,border-color 0.2s, border-width 0.2s;
    -moz-transition: background-color 0.2s,border-color 0.2s, border-width 0.2s;
    -o-transition: background-color 0.2s,border-color 0.2s, border-width 0.2s;
    transition: background-color 0.2s,border-color 0.2s, border-width 0.2s;
}

.invoice .row #plazosR .pricing:hover .title {
    background: #ff6b00;
    color: #ecf0f1;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,.5);
    -webkit-transition: background-color 0.2s,box-shadow 0.2s;
    -moz-transition: background-color 0.2s,box-shadow 0.2s;
    -o-transition: background-color 0.2s,box-shadow 0.2s;
    transition: background-color 0.2s,box-shadow 0.2s;
}

.pricing .x_content{
    padding: 0 0px 6px;
}

/*pagos checkout planes termina*/

.top_nav .dropdown-menu .read {
    background-color: white;
}

ul.msg_list li.read  {
    background: #ffffff;
}
ul.msg_list li.unread {
    background: #ffdca5;
}

ul.msg_list li a .time {
    right: 2%;
}

ul.msg_list li a .list {
    right: 2%;
}

/* notificaciones*/

.x_content ul.msg_list li {
    width: 99%!important;
}

.x_content ul.msg_list li a .image img {

    width: 30%;
}

.orange{
    color: #ff6b00
}
.ui-pnotify.orange .ui-pnotify-container{
    color:#E9EDEF;
    background-color: rgba(255, 107, 0, 0.88);
    border-color: rgba(255, 107, 0, 0.88)
}
.pink{
    color: #ff11af
}
.ui-pnotify.pink .ui-pnotify-container{
    color:#E9EDEF;
    background-color: rgba(255, 17, 175, 0.88);
    border-color: rgba(255, 17, 175, 0.88)
}

.dark{color:#34495E}
.ui-pnotify.dark .ui-pnotify-container{
    color:#E9EDEF;
    background-color:rgba(52,73,94,.88);
    border-color:rgba(52,73,94,.88)
}
/* paginacion */

.paginationjs-page .btn a, .btn a:active, .btn a:focus, .btn a:visited, .btn a:disabled   {
    color: white; !important;
}

.paginationjs-prev .btn a, .btn a:active, .btn a:focus, .btn a:visited, .btn a:disabled  {
    color: white; !important;
}

.paginationjs-next .btn a, .btn a:active, .btn a:focus, .btn a:visited, .btn a:disabled  {
    color: white; !important;
}


.progress {
    position: relative;
}

.bar {
    z-index: 1;
    position: absolute;
}

.progress span {
    position: absolute;
    top: 0;
    z-index: 2;
    text-align: center;
    width: 100%;
    color: black;
}

.selectedrowtable{
    background-color: #e8e8e8 !important;
}

.pricing_features .list-unstyled {
    width: 100% !important;
}

.x_content .msg_list{
    width: 100%;
}

.ic_ayuda, .ic_correcto, .ic_incorrecto, .ic_info {
background: url(http://app.contapp.mx/image/iconos/ic_notifica.png) no-repeat;
width: 20px;
height: 20px;
padding: 0px;
top: -20px;
}
.ic_ayuda {
    display: none;
    float: right;
    cursor: pointer;
    background-position: -40px 0px;
}

.btn-gray {
    color: #fff;
    background-color: #8a909b;
    border-color: #88888b;
}
.btn-gray:hover {
    color: #fff;
    background-color: #d1d1d4;
    border-color: #9da3ae;
}
.btn-gray {
    background: #8a909b;
    border: 1px solid #88888b;
}


.btn-orange {
    color: #fff;
    background-color: #e76600;
    border-color: #ff7200;
}
.btn-orange:hover {
    color: #ffffff;
    background-color: #00cbff;
    border-color: #3febd1;
}
.btn-orange {
    background: #e76600;
    border: 1px solid #ff7200;
}

.btn-aqua {
    color: #ffffff;
    background-color: #00cbff;
    border-color: #3febd1;
}
.btn-aqua:hover {
    color: #fff;
    background-color: #e76600;
    border-color: #ff7200;
}
.btn-aqua {
    background: #00cbff;
    border: 1px solid #3febd1;
}

.btn-purple {
    color: #ffffff;
    background-color: #A10093;
    border-color: #c500b7;
}
.btn-purple:hover {
    color: #fff;
    background-color: #e800da;
    border-color: #b400a7;
}
.btn-purple {
    background: #A10093;
    border: 1px solid #c500b7;
}

.btn-lemon {
    color: #ffffff;
    background-color: #45A700;
    border-color: #52d500;
}
.btn-lemon:hover {
    color: #fff;
    background-color: #5aea00;
    border-color: #52c200;
}
.btn-lemon {
    background: #45A700;
    border: 1px solid #52d500;
}



.btn-pink {
    color: #ffffff;
    background-color: #D7003A;
    border-color: #f02e58;
}
.btn-pink:hover {
    color: #fff;
    background-color: #E77E9A;
    border-color: #fb90ac;
}
.btn-pink {
    background: #D7003A;
    border: 1px solid #f02e58;
}

.tagcheck {
    background: #b5b5b5;
}
.tagcheck {
    line-height: 1;
    background: #b5b5b5;
    color: #fff!important;
}

.tagcheck:after {
    content: " ";
    height: 30px;
    width: 0;
    position: absolute;
    left: 100%;
    top: 0;
    margin: 0;
    pointer-events: none;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 11px solid #b5b5b5;
}

.img-ajuste{
    width: 57px !important;
    height: 57px !important;
}

@media (max-width: 992px) {
    .textlogo{
        display: none;
    }
}
@media (max-width: 612px) {
    .dataTables_filter {
        width: 100%;
        float: none;
        text-align: right;
    }
}
